@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope:400);


@font-face 
{
    font-family: 'modern_pictogramsnormal';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#modern_pictogramsnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {height: 100%; width: 100%; margin:0; padding:0; font-family: 'Arial','Lucida Grande','sans-serif'; background:#F9F9F9; font-weight: 400;
font:1em/1.3em 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; 	color:#525a69; 	
}

a {color:#; text-decoration:none; outline:none; 
-webkit-transition: all 0.5s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.5s ease-out;  /* FF4+ */
      -ms-transition: all 0.5s ease-out;  /* IE10 */
       -o-transition: all 0.5s ease-out;  /* Opera 10.5+ */
          transition: all 0.5s ease-out;}
img {border:0}

h1, h2, h3 {font-weight:300; text-shadow: 1px 1px 0 #FFFFFF;}


#global { margin:0; width:100%; min-width:100%; background: transparent url('../images/bg.png'); }


span.hand-made {  
	color: #999;
    font-family: "Annie Use Your Telescope";
    font-size: 1.5em;
    letter-spacing: 0.025em;
    position: absolute;
    text-shadow: 1px 1px 0 #fff;
    word-spacing: -0.1em;
    z-index: 10;
	line-height: 1em;
}

span.sub1 {
right: 25px;
    top: -35px;
}

span.sub2 {    right: 45px;
    top: 280px;
}
span.sub3 {
left:25px;
top:165px;
width:165px
}

#content a {color:#66AF33; text-shadow: 1px 1px 0 #FFFFFF;}
#content a:hover {color:#4F8828}
#header-block 
{clear: both;
    margin: 5.5em auto 0;
    position: relative;
    width: 960px;}

#header-block.special h1 {padding:0; text-align:center; font-size:3em; line-height: 100%;}

#header-block form { 
-webkit-border-radius: 3em;
-moz-border-radius: 3em;
-ms-border-radius: 3em;
-o-border-radius:3em;
border-radius: 3em;
    margin: 4em auto;
    padding: 0.75em;
    width: 60%;
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

#header-block form.success {
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius:0;
border-radius: 0;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
 	color: #4F8828;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 100%;
}

#header-block form.success .sub2 {display:none}

#header-block form.big-form { 
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
-webkit-border-radius: 1.5em;
-moz-border-radius: 1.5em;
-ms-border-radius: 1.5em;
-o-border-radius:1.5em;
border-radius: 1.5em;
 margin: 1em auto 2em;
}
#header-block form.big-form input[type=text] {border:1px solid #ddd; width:94% }
#header-block form.big-form p {padding:0 15px}
#header-block form.big-form input[type=text]:focus {background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5); 
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
#header-block form.big-form p label {font-size:14px; color:#bbb}
#header-block form.big-form p:nth-child(6) input[type=text] {width:26%}
#header-block form.big-form div {background:none}
#header-block form.big-form button {float:none; width:100%; margin:4px 0 -10px; 
position:static;  font-size: 1em;
    height: 3.5em;
-webkit-border-radius: 0.5em;
-moz-border-radius: 0.5em;
-ms-border-radius: 0.5em;
-o-border-radius:0.5em;
border-radius:0.5em}

#header-block input[type=text] {background: none;
    border: 0 none;
    color: #bbb;
    font-size: 0.9em;
    width: 90%;
	height: 3em;
    line-height: 3em;
    outline: medium none;
    padding: 0 1em;
    width: 90%}

#header-block input[type=text]:focus {
    color: #525A69;
}

#header-block button {
    background: none repeat scroll 0 0 #66AF33;
    border: 0 none;
-webkit-border-radius:0 1.5em 1.5em 0;
-moz-border-radius: 0 1.5em 1.5em 0;
-ms-border-radius: 0 1.5em 1.5em 0;
-o-border-radius:0 1.5em 1.5em 0;
    border-radius: 0 1.5em 1.5em 0;
    color: #FFFFFF;
    cursor: pointer;
    right:-1px;
	top:0;
	position:absolute;
    font-size: 0.9em;
    padding: 0 1em;
	height:3.65em;
    text-shadow: 0 -1px 0 #525A69;}
#header ul li:nth-child(6):hover a, #header-block button:hover {background:#4f8828; -webkit-transition: all 0.5s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.5s ease-out;  /* FF4+ */
      -ms-transition: all 0.5s ease-out;  /* IE10 */
       -o-transition: all 0.5s ease-out;  /* Opera 10.5+ */
          transition: all 0.5s ease-out;}

#header-block div {background:#fff; 
-webkit-border-radius: 10em;
-moz-border-radius: 10em;
-ms-border-radius: 10em;
-o-border-radius:10em;
    border-radius: 10em;
position:relative;
padding:0.3em}


.home-block {
clear: both;
    margin: 0;
    position: relative;
    width: 100%;
	background: none repeat scroll 0 0 #FFFFFF;
    padding:0;
	font-size:0.9em;
	}
	
.home-block-content {
	color:#333; 	
    margin: 0 auto;
    position: relative;
    width: 100% !important;
	padding:0 !important;
	overflow:visible !important

}

#content {padding-top:1em; overflow:hidden}


/* header */
#header { height:3em; padding:0; width:100%; position:fixed; top:0; z-index:99; margin:0 auto; background: #333; 
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	box-shadow:1px 2px 2px rgba(0, 0, 0, 0.4)
	}
#header ul {margin: 0 auto; padding: 0 !important; width: 960px;}
#header ul li { display:inline-block; padding:0.8em 2.5em 0.8em 0; position:relative; z-index:999}
#header ul li a { color:#ccc;  font-size: 0.9em; letter-spacing: 0.05em; font-family:Tahoma}
#header ul li.item-res {padding-right:0}
#header ul li a:hover {color:#fff}
#header ul li.act a {color:#fff}

#header ul li:nth-child(6) {float:right; padding-right:0}
#header ul li:nth-child(6) a {background:#66AF33;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius:5px;
    border-radius: 5px;
color:#fff;
padding:4px 10px 6px
}

.fb-like {padding-right:1.5em; margin-top:1px}

#logo {   background: none repeat scroll 0 0 #333333;
-webkit-border-radius: 200px;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius:50%;
    border-radius: 50%;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: block;
    font-size: 1.5em;
    font-weight: 200;
    height: 3em;
    margin: -3.5em auto 0;
    padding: 3em 0 0;
    text-align: center;
    width: 6em;

 position: relative;
    z-index: 200;

}

#logo img {margin:-0.5em 0 0 0.1em; width:45% }

.socBtn { width: 98% !important; text-align:right; margin:-2.2em auto 0; padding-right: 0 !important;}
.socBtn div {display:inline-block}

#___plusone_0 {overflow:hidden; width:100px !important}




.home-block {background:#66AF33}

ul.homeServ {
	width:100%;
    margin: 0;
	padding:0;
}

ul.homeServ li span {
font-family: 'modern_pictogramsnormal';
background:#fff;
color:#66AF33;
text-align:center;
display:inline-block;
font-size:1000%;
-webkit-border-radius: 200px;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius:50%;
border-radius:50%;
width:75%; padding:5% 0;
width:75%;
line-height:75%;
}
ul.homeServ li {
	color: #777777;
 	display: inline-block;
    font-size: 90%;
    list-style: none outside none;
    padding:1.5% 0;
    text-align: center;
    width: 16.66%;
	position:relative;
	margin:0 -2px
}

ul.homeServ li b {
    color: #4F8828;
    font-size: 300%;
    left: 42%;
    position: absolute;
display:none;
z-index:9;
bottom:-10px

}

ul.homeServ li.act, ul.homeServ li:hover {background:#4F8828; -webkit-transition: all 0.5s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.5s ease-out;  /* FF4+ */
      -ms-transition: all 0.5s ease-out;  /* IE10 */
       -o-transition: all 0.5s ease-out;  /* Opera 10.5+ */
          transition: all 0.5s ease-out;}
ul.homeServ li.act b, ul.homeServ li:hover b {display:block; }
ul.homeServ li.act span, ul.homeServ li:hover span {color:#4F8828; -webkit-transition: all 0.5s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.5s ease-out;  /* FF4+ */
      -ms-transition: all 0.5s ease-out;  /* IE10 */
       -o-transition: all 0.5s ease-out;  /* Opera 10.5+ */
          transition: all 0.5s ease-out;}

ul.homeServ li a {display:inline-block; width:100%; height:100%}

ul.homeServ li:nth-child(1) span {background:#fff url("../images/python-logo-1.png") no-repeat 50% 50%;}
ul.homeServ li:nth-child(1).act span, ul.homeServ li:nth-child(1):hover span {background:#fff url("../images/python-logo-2.png") no-repeat 50% 50%;}

ul.homeServ li:nth-child(2) span {background:#fff url("../images/django-logo-1.png") no-repeat 50% 50%;}
ul.homeServ li:nth-child(2).act span, ul.homeServ li:nth-child(2):hover span {background:#fff url("../images/django-logo-2.png") no-repeat 50% 50%;}


/* ul.homeServ li:nth-child(1) span img { height:50%} */

.view-block {background:url("../images/bg.png") 0 0; min-height:20em; padding: 20px 0 0;     margin-top: 0;}
.view-block div {width:960px; margin:0 auto; padding-top:1.5em; position:relative;}
.view-block p {display:inline-block; vertical-align:top; width:54%}
.view-block ul {
	display: block;
    padding: 0;
    width: 100%;}
.view-block ul li {margin-left:2em}
.view-block ul li:nth-child(1) {list-style:none; margin:0; font-weight:bold; text-shadow: 1px 1px 0 #FFF; padding-bottom:0.5em}

.view-block .speakers span {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
-ms-border-radius: 100px;
-o-border-radius:100px;
border-radius:100px;
display:block; 
	border:3px solid rgba(255, 255, 255, 0.25);
	float:left;
	overflow:hidden; 
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.33);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.33);
    height: 75px;
    width: 75px;
    margin-right: 1em;
}
.view-block .speakers span:hover {border-color: rgba(255, 255, 255, 1l)}
.view-block .speakers img {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
-ms-border-radius: 100px;
-o-border-radius:100px;
border-radius:100px;
    height: 75px;
    width: 75px;}	
.view-block .speakers li {list-style:none; margin:0 0 1em; float:left; width:100%}
.view-block .speakers {
    position: absolute;
    right: 0;
    top: 140px;
    width: 31%;
    z-index: 9}
.view-block .speakers li a {font-size:1.1em; color:s#333 !important; font-weight:bold}
.view-block .speakers li b {display:block; color:#525A69; font-size:0.9em; font-weight:normal}

.view-block ul.speakers li:nth-child(1)
{font-weight: 300;
    text-shadow: 1px 1px 0 #FFFFFF;
font-size:1.5em;
padding-bottom:1em
}


.speakers-list {margin:0 auto; padding:0}

.speakers-list span {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
-ms-border-radius: 100px;
-o-border-radius:100px;
border-radius:100px;
display:block; 
	border:2px solid rgba(255, 255, 255, 0.25);
	float:left;
	overflow:hidden; 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
    height: 150px;
    width: 150px;
    margin-right: 1.5em;
}
.speakers-list span:hover {border-color: rgba(255, 255, 255, 1l)}
.speakers-list img {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
-ms-border-radius: 100px;
-o-border-radius:100px;
border-radius:100px;
    height: 150px;
    width: 150px;}	
.speakers-list li {
 border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #FAFAFA;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding-bottom: 2em;
    padding-top: 1em;
    width: 100%;
}
.speakers-list li h2 {font-size:1.5em; color:#4F8828 }
.speakers-list li b {padding-left:10px; color:#aaa; font-size:0.6em; font-weight:normal}
.speakers-list li p {color:#333; font-size:0.9em}

.speakers-list li:first-child {border-top:none; padding-top:0}
.speakers-list li:last-child {border-bottom:none;}



.speakers-list.partners li {display:inline-block; vertical-align:top; float:none; width:30%; margin-right:4.5%; border:0; padding:0}
.speakers-list.partners li:nth-child(3n) {margin-right:0}
.speakers-list.partners li p a {display:block; font-size:0.95em; padding-top:5px}
.speakers-list.partners span {margin:0 auto; float:none}
.speakers-list.partners img {
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius:0;
border-radius:0;
width: auto;
    height: 50px;	
}

.inner .home-block-content {padding-top:1% !important; padding-bottom:1.5% !important; margin-bottom:1.5%}
#content .inner h3 a {font-size:4em; color:#fff; text-shadow:none; letter-spsacing: 0.025em;  line-height: 1em;}
.inner h3 {position:relative}
.inner h3 span {
font-family: 'modern_pictogramsnormal';
color:#fff;
font-size:1000%;
position:absolute;
text-shadow:none !important;
bottom:30%;
right:0;
}
#content .inner h3 a:hover {color:#eee}

.big-data {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.41);
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius:15px;
border-radius:15px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: right;
	margin: 20px 0 0;
    padding: 15px 0;
    width: 31%;
}

.big-data span {color:#333; padding:0 0 0 5%;     display: inline-block;}

#footer { color: #ccc;
    font-size: 0.8em;
    margin-top: 1em;
    padding: 3em 0;
background: #525a69
}

#footer div {width:960px; margin:0 auto;
background:url("../images/footer.png") no-repeat top right;
min-height:16em
}

#footer ul {padding:0; margin:0; display:inline-block; width:19%; vertical-align:top}
#footer li {padding:0; margin:0; list-style:none; color:#fff;}
#footer li a {color:#ccc;}
#footer li a:hover {color:#fff}
#footer li:nth-child(1) {font-weight:700; font-size: 1.1em; padding-bottom:0.5em; }

#footer p {text-align:center; color:#999; padding-top:3.5em; font-size:0.95em}


.speakers-list, #header ul, .home-block-content, #footer div, #header-block, .socBtn, .view-block div {width:96%; padding:0 2%; max-width:960px; }

@media (max-width: 767px)
{
#header-block form {width:94%; margin:2em auto}
.big-data span {display:block}
#logo {height: 2.5em;}
#logo img {margin: 0 0 0 0.1em; width: 35%;}
#header ul li {padding: 0.7em 1.3em 1em 0;}
ul.homeServ li span {font-size:550%; width:80%}
ul.homeServ li b {left:39%}
.socBtn { margin-top: 0.75em;
    position: absolute;
    z-index: 99;}
#header ul li { padding: 0.7em 0 1em; text-align: center; width: 23.5%;}
.view-block .speakers {top:160px}
.big-data {padding:10px 0 4px}
.big-data span {padding:0px 0 3% 9%}
#header-block form.big-form p:nth-child(6) input[type="text"] {width:94%;  margin-bottom: 1em;}
#header-block form.big-form button {margin-top:-1em}
span.hand-made {font-size:1.3em}
span.sub1 {right: 10px; top: -15px;}
span.sub2 {right: 15px; top: 305px;}
span.sub3 { left: 15px; top: 60px; width: 100px;}
.inner h3 {padding-left:2%; padding-right:2%}
#content .inner h3 a {font-size:3.5em; display:inline-block; width:70%}
.inner h3 span {  bottom: 40%;
    font-size: 1500%;
    right: 5%;}
}


@media only screen and (max-width: 480px), only handheld and (max-width: 480px)
{
.socBtn {display:none}
#header ul li { padding: 0.7em 0 1em; text-align: center; width: 23.5%;}
#logo {height:2em; width:5em}
#logo img {margin: 0 0 0 0.1em; width: 32%;}
#header-block.special h1 {margin:1% 0; font-size:2em}
.view-block .speakers {position:static; width:100%; padding-top:20px}
.view-block p {width:100%}
#footer {padding-bottom:1em}
#footer div {background:none}
#footer ul {margin: 0 0 2em; width: 49%;}
#footer p {padding:0}
.big-data span {display: inline-block; width: 38%;}
.big-data {float:none; width:100%}
ul.homeServ li span {font-size:400%; width:85%}
ul.homeServ li b {bottom: -8px; left: 34%}
#header-block form.big-form p:nth-child(6) input[type="text"] {width:94%;  margin-bottom: 1em;}
#header-block form.big-form button {margin-top:-1em}
span.hand-made {display:none}
.speakers-list span {float:none; margin: 0 auto 10px;}
.speakers-list li p, .speakers-list li h2 {text-align:center}
.speakers-list li {padding-bottom: 1em;}
#content .inner h3 a {font-size:2em; width: 75%;}
.inner h3 span { bottom: 32%;
    font-size: 900%;
    right: 1%;
}
}
