<?xml version="1.0" encoding="UTF-8"?>{% load static from staticfiles %}{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{% trans "Python WEB development course" %}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
		<link href="{% static "css/app.css"  %}" type="text/css" rel="stylesheet"/>
		<link rel="icon" href="{% static "images/favicon.png" %}" type="image/x-icon" />
		<link rel="shortcut icon" href="{% static "images/favicon.png" %}g" type="image/x-icon" />
		<script data-main="{% static "js/main" %}" src="{% static "js/require-jquery.js" %}"></script>
	</head>
	<body>
		<div id="global">
			<div id="header">
				<ul>
					<li><a href="" title="">About</a></li>
					<li><a href="" title="">Program</a></li>
					<li><a href="" title="">Schedule</a></li>
					<li><a href="" title="">Subscribe</a></li>
				</ul>
			    {# <div class="socBtn"> #}
			 {#              <div data-font="arial" data-show-faces="true" data-width="450" data-layout="button_count" data-send="false" data-href="http://recco.me/" class="fb-like fb_edge_widget_with_comment fb_iframe_widget" fb-xfbml-state="rendered"><span style="height: 21px; width: 73px;"> #}
			 {#                      <iframe scrolling="no" id="fa3f3eb289cc9e" name="f248442174bf2ea" style="border: medium none; overflow: hidden; height: 21px; width: 73px;" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=283477691721049&amp;locale=en_US&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D15%23cb%3Df2e3a12d717819%26origin%3Dhttp%253A%252F%252Fwww.recco.me%252Ff2d986cad88cfa6%26domain%3Dwww.recco.me%26relation%3Dparent.parent&amp;href=http%3A%2F%2Frecco.me%2F&amp;node_type=link&amp;width=450&amp;font=arial&amp;layout=button_count&amp;colorscheme=light&amp;show_faces=false&amp;send=false&amp;extended_social_context=false"></iframe> #}
			 {#                  </span> #}
			 {#              </div> #}
			 {#              <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1351848862.html#_=1352285861229&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=ReccoMe&amp;show_count=false&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button" style="width: 120px; display:none; height: 20px;" title="Twitter Follow Button" data-twttr-rendered="true"></iframe> #}
			 {#              <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1351848862.html#_=1352285861220&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.recco.me%2F&amp;related=ReccoMe&amp;size=m&amp;text=Recco.me%20-%20Recommendations%20based%20on%20common%20taste%20between%20you%20and%20your%20Facebook%20friends&amp;url=http%3A%2F%2Frecco.me" class="twitter-share-button twitter-count-horizontal" style="width: 107px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe> #}
			 {#              <div style="height: 24px; width: 450px; display: inline-block; text-indent: 0px; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline;" id="___plusone_0"> #}
			 {#                  <iframe width="100%" scrolling="no" frameborder="0" allowtransparency="true" hspace="0" marginheight="0" marginwidth="0" style="position: static; top: 0px; width: 450px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 24px;" tabindex="0" vspace="0" id="I0_1352285861010" name="I0_1352285861010" src="https://plusone.google.com/_/+1/fastbutton?bsv=m&amp;annotation=inline&amp;hl=en-US&amp;origin=http%3A%2F%2Fwww.recco.me&amp;url=http%3A%2F%2Frecco.me%2F&amp;ic=1&amp;jsh=m%3B%2F_%2Fapps-static%2F_%2Fjs%2Fgapi%2F__features__%2Frt%3Dj%2Fver%3DerQpblEICt8.ru.%2Fsv%3D1%2Fam%3D!R7JhevK68w2IwTSFZw%2Fd%3D1%2Frs%3DAItRSTO2j_eU3QGbQo7pPQW-6S4hwawDKA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Conload&amp;id=I0_1352285861010&amp;parent=http%3A%2F%2Fwww.recco.me" title="+1"></iframe> #}
			 {#              </div> #}
			 {#          </div> #}
				<a href="" id="logo"><img src="{% static "images/python-logo.png" %}" alt=""></a>
			</div>
			<div id="content">
				<div id="header-block" class="special">
					<h1>Best Python Courses in the world!</h1>
					<p>
						No matter where you are, we have the tools to keep you up to date on your project. Browse tickets using our slick iPhone optimized interface, manage tickets through our robust email system, or use your feed reader to subscribe to feeds. <a href="">more &raquo;</a>
					</p>
					<form class="email-form" action="/">
						<div>
							<input type="text" placeholder="Your e-mail">
							<input type="submit" value="Subscribe">
						</div>
					</form>
				</div>
				<div class="home-block">
					<div class="home-block-content">
						<ul class="homeServ">
							<li> <a href=""><span>v</span></a>
								<b>▾</b>
							</li>
							<li class="act"> <a href=""><span>M</span></a>
								<b>▾</b>
							</li>
							<li> <a href=""><span>n</span></a>
								<b>▾</b>
							</li>
							<li> <a href=""><span>B</span></a>
								<b>▾</b>
							</li>
							<li> <a href=""><span>R</span></a>
								<b>▾</b>
							</li>
							<li> <a href=""><span>p</span></a>
								<b>▾</b>
							</li>
						</ul>
					</div>
					<div class="view-block">
						<div>
							<h1>Development Environment</h1>
							<article class="big-data">
							<span><b>Lecture №:</b> 1-3</span> <span><b>Date:</b> 10-15 April</span>
							</article>
							<p>No matter where you are, we have the tools to keep you up to date on your project. Browse <a href="">tickets</a> using our slick iPhone optimized interface, manage tickets through our robust email system, or use your feed reader to subscribe to feeds. An integrated development environment (<a href="">IDE</a>) is a software application that provides comprehensive facilities to computer programmers for software development. <br/><br/>
								Copy/Paste the character you are interested in or use the html code. Look up the unicode for further information
							</p>
							<ul>
								<li>Useful Links:</li>
								<li><a href="http://www.python.org/">Python</a> </li>
								<li><a href="">Anniversary eBook</a> </li>
								<li><a href="">Newrelic</a> </li>
								<li><a href="">Watchmouse</a> </li>
							</ul>
							<ul class="speakers">
								<li>Speakers:</li>
								<li><a href=""><span><img src="http://ua.pycon.org/media/photo/0fa1e4c.jpg" alt="" /></span>Vasyl Dizhak<b>Team Lead at Django Stars</b></a> </li>
								<li><a href=""><span><img src="http://ua.pycon.org/media/photo/267530_10151096781182795_1085092874_n_1.jpeg" alt="" /></span>Maksym Klymyshyn
								<b>CTOat GVMachines</b></a> </li>
								<li style="display:none"><a href=""><span><img src="http://ua.pycon.org/media/photo/photo_2_1.jpg" alt="" /></span>Alex Vasilyev<b>Freelance developer</b></a> </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div>
					<ul>
						<li>Helpful Links</li>
						<li><a href="">FAQs</a> </li>
						<li><a href="">Support</a> </li>
						<li><a href="">Developer’s API</a> </li>
						<li><a href="">Documents</a> </li>
						<li><a href="">Subversion</a> </li>
					</ul>
					<ul>
						<li>Information</li>
						<li><a href="">Speakers</a> </li>
						<li><a href="">Free Anniversary eBook</a> </li>
						<li><a href="">Useful Time Savers</a> </li>
						<li><a href="">Web Design Showcases</a> </li>
						<li><a href="">Job at Top Compnanies</a> </li>
						<li><a href="">Best of Coding</a> </li>
					</ul>
					<ul>
						<li>Program</li>
						<li><a href="">Schedule</a> </li>
						<li><a href="">Subscribe now</a> </li>
						<li><a href="">Best cources</a> </li>
						<li><a href="">Results</a> </li>
						<li><a href="">Best Showcases</a> </li>
						<li><a href="">Best of Coding</a> </li>
					</ul>
					<ul>
						<li>Information</li>
						<li><a href="">Speakers</a> </li>
						<li><a href="">Free Anniversary eBook</a> </li>
						<li><a href="">Useful Time Savers</a> </li>
						<li><a href="">Web Design Showcases</a> </li>
						<li><a href="">Job at Top Compnanies</a> </li>
						<li><a href="">Best of Coding</a> </li>
					</ul>
					<p>Copyright © 2012 Best Python Courses in the world LLC. All screenshots © their respective owners</p>
				</div>
			</div>
		</div>
	</body>
</html>
